@model IEnumerable<MyMovies.Models.Genre>

@{
    ViewBag.Title = "Genres";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Ajouter un genre", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.GenreID }) |
            @Html.ActionLink("Détails", "Details", new { id=item.GenreID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.GenreID })
        </td>
    </tr>
}

</table>
