@model MyMovies.Models.Movie

@{
    ViewBag.Title = "Supprimer le film";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cover)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cover)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genre.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Retour à la collection", "Index")
    </p>
}
